*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 20px;
}
.container{
    background-color: aliceblue;
    height: 720px;
}
.container .header{
    background-color: red;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin: 10px;
    height: 80px;
}
.container .body{
    display: flex;
    margin: 10px;
    justify-content: space-between;;
}
.container .body .sidebar{
    width: 30%;
}
.container .body .item1{
    background-color: #008001;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin: 10px;
    height: 500px;
}
.container .body .item2{
    background-color: #FF68B3;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin: 10px;
    height: 500px;
}
.container .body .text{
    background-color: #FFFF05;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    height: 500px;
    font-size: 20px;
}
.container .footer{
    background-color: #0000FE;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin: 10px;
    height: 80px;
}
@media screen and (max-width:768px) {
    .container .body{
        display: flex;
        flex-direction: column;
    }
    .container .body .item1{
        height: 70px;
        width: 97%;
    }
    .container .body .item2{
        height: 70px;
        width: 97%;
    }
    .container .body .text{
        width: 97%;
    }
}