*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 20px;
}
.container .header{
    background-color: #78BCBE;
    margin-top: 20px;
    height: 60px;
}
.container .body{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.container .body .item1{
    background-color: #EB5C48;
    width: 49%;
    height: 150px;
}
.container .body .item2{
    background-color: #F7B342;
    width: 49%;
}
.container .footer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.container .footer .item1{
    background-color: #415E7B;
    width: 33%;
    height: 150px;
}
.container .footer .item2{
    background-color: #EE7A71;
    width: 33%;
}
.container .footer .item3{
    background-color: #F5B343;
    width: 33%;
}
@media screen and (max-width:768px) {
    .container .body{
        display: flex;
        flex-direction: column;
    }
    .container .body .item1{
        height: 120px;
        width: 100%;
    }
    .container .body .item2{
        height: 120px;
        width: 100%;
        margin-top: 20px;
    }
    .container .footer{
        display: flex;
        flex-direction: column;
    }
    .container .footer .item1{
        height: 120px;
        width: 100%;
    }
    .container .footer .item2{
        opacity: 0;
    }
    .container .footer .item3{
        opacity: 0;
    }
}