*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    flex-direction: row;
    background-color: rgb(231, 231, 231);
    border: 1px solid rgb(0, 0, 0);
    margin: 20px;
    width: 500px;
    height: 70px;
}
.content{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 10px;
}
.content .text{
    background-color: aqua;
    width: 100px;
    text-align: center;
    color: white;
    border-radius: 5px;
}
.content1{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 10px;
}
.content1 .text1{
    background-color: aqua;
    width: 220px;
    text-align: center;
    color: white;
    border-radius: 5px;
}
.content1 .text2{
    background-color: aqua;
    width: 100px;
    text-align: center;
    color: white;
    border-radius: 5px;
}
.content1 .text3{
    background-color: aqua;
    width: 100px;
    text-align: center;
    color: white;
    border-radius: 5px;
}