*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 20px;
}
.container .header img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.container .header div{
    position: absolute;
    top: 130px;
    left: 20px;
    padding: 10px;
    color: rgb(248, 94, 94);
}
.container .body{
    display: flex;
    justify-content: space-between;
}
.container .body .image img{
    width: 490px;
    height: 150px;
    object-fit: cover;
}
.container .body .image div{
    position: absolute;
    top: 280px;
    padding: 10px;
    color: rgb(248, 94, 94);
}
.container .footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}
.container .footer .image img{
    width: 490px;
    height: 150px;
    object-fit: cover;
}
.container .footer .image div{
    position: absolute;
    top: 430px;
    padding: 10px;
    color: rgb(248, 94, 94);
    width: 450px;
}
.container .footer .signup{
    width: 490px;
    height: 150px;
    background-color: brown;
    text-align: center;
    padding-top: 50px;
    color: rgb(248, 94, 94);
}
.container .footer .signup button{
    width: 400px;
    height: 20px;
    color: rgb(248, 94, 94);
    margin-top: 10px;
    border: none;
    border-radius: 4px;
}