*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 20px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(235, 235, 235);
    height: 60px;
}
.container .logo{
    font-family: "Grechen Fuemen", serif;
    font-weight: 400;
    font-size: 30px;
    padding-left: 150px;
}
.container span .text1{
    text-decoration: none;
    color: black;
    padding-right: 50px;
    font-weight: 500;
}
.container span .text2{
    text-decoration: none;
    color: black;
    padding-right: 50px;
    font-weight: 500;
    opacity: 0.5;
}
.container .button{
    opacity: 0.5;
    border: none;
    background-color: rgb(31, 30, 81);
    color: white;
    border-radius: 5px;
    width: 90px;
    height: 30px;
}
.fa-solid{
    padding-right: 10px;
}